<!DOCTYPE html>
<html>
<head>
    <title>Genre Details: {{ genre.Name }}</title>

</head>
<body>
    <h1>Genre Details: {{ genre.Name }}</h1>

    <div>
        <p>Name: {{ genre.Name }}</p>
        <p>Description: {{ genre.Description }}</p>
    </div>

    <h2>Artists in this Genre</h2>
    <div>
        {% for artist in artists %}
            <div><a href="/artist/{{ artist.ArtistID.strip() }}">{{ artist.Name }}</a></div>
        {% else %}
            <p>No artists found in this genre.</p>
        {% endfor %}
    </div>

    <h2>Albums in this Genre</h2>
    <div>
        {% for album in albums %}
            <div><a href="/album/{{ album.AlbumID.strip() }}">{{ album.Title }}</a></div>
        {% else %}
            <p>No albums found in this genre.</p>
        {% endfor %}
    </div>

    <p><a href="/">Go back to the home page</a></p>
</body>
</html>
