<!DOCTYPE html>
<html>
<head>
    <style>
        body { 
            font-size: 15pt; 
            font-family: arial;
        }
    </style>
</head>

<body>
    <h1>Wannabe Spotify</h1>

    <!-- Song Search Form -->
    <form method="get" action="/search_song">
        <p>Search for a song: <input type="text" name="song_title"> <input type="submit" value="Search"></p>
    </form>

    <form method="get" action="/search_artist">
        <input type="text" name="artist_name" placeholder="Search for an artist">
        <input type="submit" value="Search">
    </form>
    
    <!-- Conditional Button: Login or Profile based on session -->
    {% if session['username'] %}
        <p>Welcome, {{ session['username'] }}! <a href="/profile/{{ session['username'] }}">Profile</a> | <a href="/logout">Logout</a></p>
    {% else %}
        <p><a href="/login">Login</a></p>
    {% endif %}
</body>
</html>
