<html>
<head>
    <title>Song Recommendations</title>
</head>
<body>
    <h1>Song Recommendations</h1>

    <div>
        {% if songs %}
            {% for song in songs %}
                <div>
                    <p>Title: <a href="/search_song?song_id={{ song[0].strip() }}">{{ song[1] }}</a></p>
                    <p>Artist: {{ song[-2] }}</p>
                    <p>Genre: {{ song[2] }}</p>
                    <p>Duration: {{ song[3] }}</p>
                    <p>Release Year: {{ song[4] }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No recommendations found.</p>
        {% endif %}
    </div>

    <p><a href="/">Go back to the home page</a></p>
</body>
</html>
