<!DOCTYPE html>
<html>
<head>
    <title>Playlist Search Results</title>
</head>
<body>
    <h1>Playlist Search Results</h1>

    {% if playlists %}
        {% for playlist in playlists %}
            <div>
                <p>Title: {{ playlist[1].strip() }}</p>
                <p>Description: {{ playlist[2].strip() }}</p>
                <p>Creation Year: {{ playlist[3] }}</p>
                <p><a href="/playlist/{{ playlist[0].strip() }}">View Playlist Details</a></p>
            </div>
        {% endfor %}
    {% else %}
        <p>No playlists found.</p>
    {% endif %}

    <p><a href="/">Go back to the home page</a></p>
</body>
</html>
