<!DOCTYPE html>
<html>
<head>
    <title>Song Search Results</title>
    <style>
        body { 
            font-size: 15pt;
            font-family: arial;
        }
    </style>
</head>
<body>
    <h1>Song Search Results</h1>

    {% if songs %}
        <div>
            {% for song in songs %}
                <div>
                    Song: {{ song.title }} -
                    Genre: {{ song.genre }} -
                    Duration: {{ song.duration }} seconds - 
                    Release Year: {{ song.releaseyear }} - 
                    Amount Played: {{ song.amountplay }} plays -
                    Album: <a href="/album/{{ song.AlbumID }}">Link to Album</a>
            {% endfor %}
        </div>
    {% else %}
        <p>No songs found.</p>
    {% endif %}

    <p><a href="/">Go back to the home page</a></p>

</body>
</html>