<!DOCTYPE html>
<html>
<head>
    <title>Song Details: {{ song[1] }}</title>
</head>
<body>
    <h1>Song Details: {{ song[1] }}</h1>

    {% if songs %}
        {% for song in songs %}
            <div>
                <p>Title: {{ song[1] }}</p>
                <p>Genre: {{ song[2] }}</p>
                <p>Duration: {{ song[3] }} seconds</p>
                <p>Release Year: {{ song[4] }}</p>
                <p>Amount Played: {{ song[6] }} plays</p>
                <p>Album: <a href="/album/{{ song[8].strip() }}">{{ song[7] }}</a></p>
            </div>
        {% endfor %}
    {% else %}
        <p>No songs found.</p>
    {% endif %}

    <p><a href="/">Go back to the home page</a></p>
</body>
</html>
